.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
  }
  
  .title {
    margin-bottom: 16px;
    color: #950740;
  }
  
  .button {
    background-color: #950740;
  }
  