/* styles/footer.module.css */

.footer {
    padding: 16px;
    background-color: #950740;
    background-image: url("/bg.png");
    background-size: cover;
    background-position: center;
    z-index: 20000;
  }
  
  .logo {
    display: inline-block;
  }
  
  .slogan {
    margin: 16px 0;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
  }
  
  .socialIcons {
    margin: 8px;
  }
  
  .socialIcon {
    color: rgba(255, 255, 255, 0.9);
    margin: 8px;
  }
  
  .copyright, .copyright a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }
  