/* Navbar.module.css */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 60px !important;
    background-color: #950740 !important;
  }
  
  .toolbar {
    justify-content: space-between;
  }
  
  .desktopMenuItem {
    position: relative;
    cursor: pointer;
    color: white;
    padding: 16px;
  }
  
  .desktopMenuItem:hover {
    color: #e0e0e0;
  }
  
  .popperPaper {
    background-color: rgb(31, 41, 55);
    color: white;
    margin-top: 8px;
    padding: 16px;
    min-width: 200px;
  }
  
  .mobileDrawer {
    background-color: #ab2140;
    margin-top: 64px;
  }
  
  .mobileListItem {
    background-color: #c13351;
  }
  
  .mobileListItem:hover {
    background-color: #8f1d36;
  }
  
  .mobileListItemText {
    color: white;
  }