.container {
  display: flex;
  background-color: #e0e0e0;
  flex: 1;
  overflow: auto;
  height: calc(100vh - 60px);
  margin-top: 60px;
}

@media (min-width: 769px) {
  .container {
    padding-left: 250px;
  }
  
  .sidebarSlide {
    transform: translateX(0) !important;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 0;
  }
  
  .sidebarSlide {
    transform: translateX(-100%);
  }
}

.sidebarContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 24px;
}

.tableHeadCell {
  font-weight: bold;
  font-size: 1.25rem;
}

.tableCell {
  padding: 16px;
}

.navbar {
  position: sticky;
  top: 0;
  height: 60px !important;
  background-color: #950740 !important;
}

.toolbar {
  justify-content: space-between;
}

.sidebarSlide {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 59px);
  background-color: #950740;
  box-shadow: none;
  border: none;
  transition: transform 0.3s ease-in-out;
  margin-top: 59px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background-color 0.3s ease-in-out;
}

.overlay.open {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.sidebarSlide.open {
  transform: translateX(0);
}

.hidden {
  display: none;
}