.paginationContainer {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  padding: 0 16px;
}

.paginationItem {
  color: inherit;
}

@media (max-width: 768px) {
  .paginationContainer {
    margin: 20px 0;
  }
  
  .paginationMobile {
    & .MuiPaginationItem-root {
      min-width: 32px;
      height: 32px;
      margin: 0 2px;
      padding: 0;
      font-size: 14px;
    }
  }
}

@media (max-width: 380px) {
  .paginationContainer {
    margin: 15px 0;
  }
}