.drawer {
  width: 256px;
  flex-shrink: 0;
}

.drawer > div {
  width: 256px;
  background-color: #950740;
  color: white;
  position: relative;
}

.listItemButton {
  color: #c7c7c7;
}

.listItemButtonActive {
  background-color: #ff4081;
  color: white;
}

.listItemButton:hover {
  background-color: #ff4081;
  color: white;
}

.logo {
  margin: 16px auto;
}

.icon {
  color: white;
}

.divider {
  background-color: white;
}

.drawer {
  z-index: 0;
}